<div>
  <h2>Add record</h2>

  <form class="row g-3">
    <div class="col-12">
      <label for="inputAddress" class="form-label">Jogging date:</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="dd/mm/yyyy">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Distance (m)</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="0">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Time (s)</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="0">
    </div>
    
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>